---
import type { SanityDocument } from '@sanity/client';
import imageUrlBuilder from '@sanity/image-url';
import type { SanityImageSource } from '@sanity/image-url/lib/types/types';
import {sanityClient} from '../../sanityConfig';
import CarCard from '../components/Card/CarCard';
import Layout from '../layouts/Layout.astro';
import type { Car } from '../lib/types';
import '../styles/global.css';

const CARS_QUERY = `*[_type == "car"]
{
    _id,
    marque,
    model,
    immatriculation,
    status,
    annee,
    couleur,
    kilometrage,
    prix,
    description,
    carburant,
    transmission,
    images
}
`

const urlFor = (source: SanityImageSource) => imageUrlBuilder(sanityClient).image(source);

const rawCars = await sanityClient.fetch<SanityDocument[]>(CARS_QUERY);

const cars: Car[] = rawCars.map(doc => ({
    marque: doc.marque,
    model: doc.model,
    immatriculation: doc.immatriculation,
    status: doc.status,
    annee: doc.annee,
    couleur: doc.couleur,
    kilometrage: doc.kilometrage,
    prix: doc.prix,
    description: doc.description,
    carburant: doc.carburant,
    transmission: doc.transmission,
    images: urlFor(doc.images[0]),
}));
---

<Layout title='Nos Occasions'>
    <h1
        class='text-center text-2xl my-6 sm:text-3xl lg:text-5xl font-montserrat underline underline-offset-4 decoration-red-500'
    >
        Nos Occasions
    </h1>
    <section class="flex flex-col gap-4 md:flex-row items-center md:items-stretch font-roboto">
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 w-full px-4">
            {cars.map(car => (
                <li>
                    <CarCard car={car} />
                </li>
            ))}
        </ul>
    </section>
</Layout>
