---
import type { SanityDocument } from '@sanity/client';
import imageUrlBuilder from '@sanity/image-url';
import type { SanityImageSource } from '@sanity/image-url/lib/types/types';
import {sanityClient} from '../../sanityConfig';
import CarCard from '../components/Card/CarCard';
import Layout from '../layouts/Layout.astro';
import type { Car } from '../lib/types';
import '../styles/global.css';

const CARS_QUERY = `*[_type == "car"]
{
    _id,
    brand,
    model,
    immatriculation,
    status,
    year,
    color,
    mileage,
    price,
    description,
    fuel,
    transmission,
    images
}
`

const urlFor = (source: SanityImageSource) => imageUrlBuilder(sanityClient).image(source);

const rawCars = await sanityClient.fetch<SanityDocument[]>(CARS_QUERY);

const cars: Car[] = rawCars.map((doc) => ({
    brand: doc.brand,
    model: doc.model,
    immatriculation: doc.immatriculation,
    status: doc.status,
    year: doc.year,
    color: doc.color,
    mileage: doc.mileage,
    price: doc.price,
    description: doc.description,
    fuel: doc.fuel,
    transmission: doc.transmission,
    power: doc.power,
    images: urlFor(doc.images[0]),
}));
---

<Layout title='Nos Occasions'>
    <h1
        class='text-center text-2xl my-6 sm:text-3xl lg:text-5xl font-montserrat underline underline-offset-4 decoration-red-500'
    >
        Nos Occasions
    </h1>
    <section class="flex flex-col gap-4 md:flex-row items-center md:items-stretch font-roboto">
        <ul class="flex flex-wrap justify-center gap-6 w-full px-4">
            {cars.map(car => (
                <li>
                    <CarCard client:load car={car} />
                </li>
            ))}
        </ul>
    </section>
</Layout>
