---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout title='Politique de Confidentialité'>
    <h1
        class='text-center text-2xl my-6 sm:text-3xl lg:text-5xl font-montserrat underline underline-offset-4 decoration-red-500'
    >
        Politique de Confidentialité
    </h1>

    <section class='mt-10'>
        <p class='my-4'>
            Les informations recueillies sur ce formulaire sont enregistrées
            dans un fichier informatisé par{' '}
            <i class='font-bold'>Garage Vincent Parrot</i> afin de :
            <br />
            <ul class='ml-12'>
                <li class='list-disc'>
                    Pouvoir vous recontacter en cas de besoin (informations
                    supplementaires, conseil, envoie de devis, prise de
                    rendez-vous...).
                </li>
                <li class='list-disc'>
                    Afficher des commentaires si vous avez accepté leur
                    utilisation.
                </li>
            </ul>
        </p>
        <p class='my-4'>
            Les données collectées seront communiquées aux seuls destinataires
            suivants :{' '}
            <i class='font-bold'>Garage Vincent Parrot</i>. Les données sont
            conservées pendant 5 ans maximum.
        </p>
        <p class='my-4'>
            Vous pouvez accéder aux données vous concernant, les rectifier,
            demander leur effacement ou exercer votre droit à la limitation du
            traitement de vos données (en fonction de la base légale du
            traitement. Vous pouvez retirer à tout moment votre consentement au
            traitement de vos données. Vous pouvez également vous opposer au
            traitement de vos données. Vous pouvez également exercer votre droit
            à la portabilité de vos données).{' '}
        </p>
        <p class='my-4'>
            Consultez le site{' '}
            <a
                href='https://www.cnil.fr/fr'
                target='_blank'
                rel='noreferrer'
                class='hover:underline hover:decoration-red-02'
            >
                cnil.fr
            </a>{' '}
            pour plus d’informations sur vos droits.
        </p>
        <p class='my-4'>
            Pour exercer ces droits ou pour toute question sur le traitement de
            vos données dans ce dispositif, vous pouvez contacter (le cas
            échéant, notre délégué à la protection des données ou le service
            chargé de l’exercice de ces droits) : la direction du garage Vincent
            Parrot. Si vous estimez, après nous avoir contactés, que vos droits
            « Informatique et Libertés » ne sont pas respectés, vous pouvez
            adresser une réclamation à la CNIL.
        </p>
    </section>
</Layout>
